#header {

background-color: orange;
margin: 0;
padding: 10px ;
}

#by {

background-color: lightblue;
color: white;
}

#footer {


background-color: orange;
margin: 0;
padding: 5px;
}